.zone {
  min-height: 176px;

  /* Add other styling properties */
}

.center-text {
  text-align: center;
}

.hand-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap between cards as needed */
  min-height: 200px; /* Set a minimum height for the drop zone */
  border: 2px dashed #ccc; /* Add a dashed border for the drop zone */
}

.zones-row {
  width: 80%;
  /* Add any additional styles you want */
  margin-bottom: 40px; /* Add margin below the zones row */
}

.zone {
  height: 240px; /* Set the desired height */
  /* Additional styles for the zone container */
}

.zones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-discard-zone {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add margin below the deck-discard-zone */
}

.empty-padding {
  padding: 5px;
}

.hand-zone {
  margin-bottom: 10px; /* Add margin below the hand zone */
}
.button-container {
  margin-top: 5px;
}
.single-card-zone {
  width: 180px;
  height: 100%; /* Set the height to 100% */
  border: 2px dashed #ccc;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.card-list {
  height: 100%;
}
