.zone {
  min-height: 176px;

  /* Add other styling properties */
}

.center-text {
  text-align: center;
}

.hand-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap between cards as needed */
  min-height: 220px; /* Set a minimum height for the drop zone */
  min-width: 830px;
  border: 2px dashed #ccc; /* Add a dashed border for the drop zone */
}

.play-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap between cards as needed */
  min-height: 600px; /* Set a minimum height for the drop zone */
  min-width: 1200px; /* Set a minimum height for the drop zone */
  border: 2px dashed #ccc; /* Add a dashed border for the drop zone */
}

.zones-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap between cards as needed */
}

.zones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 5px;
}
.single-card-zone {
  width: 170px;
  height: 220px;
  border: 2px dashed #ccc;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.card-list {
  height: 100%;
}
